openapi: 3.0.0
info:
  title: Nutshell Notes API
  description: The most powerful API in the world
  version: 2.0.0
  contact:
    name: Nutshell Developers
    url: https://developers.nutshell.com
servers:
- url: https://app.nutshell.com/rest
  description: Nutshell REST API
tags:
- name: Notes
paths:
  /notes/{id}:
    get:
      tags:
      - Notes
      summary: Get a note
      description: Get a single note by the ID provided.
      operationId: 7cda4297fad55a1bd186049667840325
      parameters:
      - name: id
        in: path
        description: Note ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      security:
      - basicAuth: []
    delete:
      tags:
      - Notes
      summary: Delete a note.
      description: Delete a note by the ID provided. Can be restored with the undelete endpoint.
      operationId: 836127953fcc40da01ecc8c605bad12a
      parameters:
      - name: id
        in: path
        description: Note ID
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      security:
      - basicAuth: []
  /notes/{id}/undelete:
    post:
      tags:
      - Notes
      summary: Undelete a note.
      description: Undelete a note by the ID provided.
      operationId: 56325ab1a38cdcc6bcbbdbe540a78907
      parameters:
      - name: id
        in: path
        description: Note ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      security:
      - basicAuth: []
  /notes:
    get:
      tags:
      - Notes
      summary: Get a list of notes
      description: Get a list of notes.
      operationId: c855c6708aa8bb59e12dd00ac6afbd04
      parameters:
      - name: page[limit]
        in: query
        description: Limit the number of results returned, for pagination.
        required: false
        schema:
          type: string
      - name: page[page]
        in: query
        description: Request a specific page of results, for pagination. Used in conjunction with the
          page[limit] parameter. Indexing is 0-based.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Note
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      security:
      - basicAuth: []
    post:
      tags:
      - Notes
      summary: Create a note
      operationId: d75ec624406914f4ac17a0cf1fc38d05
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/notePostInput'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
      security:
      - basicAuth: []
components:
  schemas:
    HtmlLinkable:
      description: 'Adds an htmlUrl string attribute that represents a URL of an HTML representation of
        the

        response model.'
      properties:
        htmlUrl:
          description: The link to the entity within the app.
          type: string
          example: https://app.nutshell.com/lead/1006
        htmlUrlPath:
          description: The path to the entity within the app.
          type: string
          example: /lead/1006
      type: object
    Note:
      type: object
      allOf:
      - $ref: '#/components/schemas/HtmlLinkable'
      - properties:
          id:
            description: The API ID of this entity, formatted {integer}-{entityType}
            type: string
            example: 3-contacts
          createdTime:
            type: string
          deletedTime:
            type: string
          href:
            type: string
          body:
            type: string
          bodyHtml:
            type: string
          bodyMarkup:
            type: string
          isEditable:
            type: boolean
          parentType:
            type: string
        type: object
    notePostInput:
      properties:
        data:
          properties:
            body:
              description: The text to display on the note
              example: Hello World!
            links:
              description: The entity to attach the note to
              properties:
                parent:
                  description: The entity to attach the note to
                  type: string
                  example: 3-contacts
              type: object
              example: 3-contacts
          type: object
      type: object
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
